doctype html
html(ng-app="myApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //Google Fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One', type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One',type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen',type='text/css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
        link(rel='stylesheet', href='/angular-material-data-table/dist/md-data-table.min.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/sweetalert2/6.2.3/sweetalert2.min.css')
        base(href="/")

    body(ng-cloak, layout="row", layout-align="center start")
        div(ui-view="", style="width:100%", layout="column", layout-align="center center")

        script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
        script(src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js")
        script(src="/angular-material-data-table/dist/md-data-table.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.0.9/ocLazyLoad.min.js")
        script(src="https://cdn.jsdelivr.net/sweetalert2/6.2.3/sweetalert2.min.js")
        script(src="/dist/app.min.js")
